In [6]:
import pandas as pd
import os

from dask import dataframe

#pd.set_option("max_colwidth", None)

In [52]:
train_df = pd.read_csv("../data/raw/ghc/ghc_train.tsv", delimiter="\t", header=0)
test_df = pd.read_csv("../data/raw/ghc/ghc_test.tsv", delimiter="\t", header=0)

In [53]:
train_df.sample(10)

                                                    text  hd  cv  vo
14328  This has to be the funniest shit I've seen in ...   0   0   1
14483  i dont think i'm sure and the joke is already ...   0   0   0
17006  Live Stream: Special Guest Mrs. L on Everythin...   0   0   0
205    lookup a cell phone number name https://instau...   0   0   0
6419   look at this Leaf supremacist asshole over her...   0   0   1
16700  Obama -- Leader of the Deep State Coup http://...   0   0   0
5613   There is the video to go hand in hand with you...   0   0   0
14577  My foot: if I'm not putting it in my mouth, I'...   0   0   0
19914             Some of the shooter's facebook photos.   0   0   0
17493  Sadly...true. I think (((progressive))) moment...   0   0   0

In [54]:
train_df.shape, test_df.shape

((22036, 4), (5510, 4))

In [55]:
train_df = dataframe.read_csv("../data/raw/ghc/ghc_train.tsv", sep="\t")

In [56]:
train_df.head()

                                                text  hd  cv  vo
0  He most likely converted to islam due to his n...   0   0   0
1  So Ford lied about being a psychologist. Recor...   0   0   0
2     Jobs. Education. Ending abuse of Nation. CA43.   0   0   0
3  I share a lot of your values, & like many who ...   0   0   0
4  I am so ready to get back to blogging! www.ben...   0   0   0

In [57]:
train_df["label"] = (train_df["hd"] + train_df["cv"] + train_df["vo"] > 0).astype("int")

In [58]:
train_df.head()

                                                text  hd  cv  vo  label
0  He most likely converted to islam due to his n...   0   0   0      0
1  So Ford lied about being a psychologist. Recor...   0   0   0      0
2     Jobs. Education. Ending abuse of Nation. CA43.   0   0   0      0
3  I share a lot of your values, & like many who ...   0   0   0      0
4  I am so ready to get back to blogging! www.ben...   0   0   0      0

In [60]:
df = train_df.compute()
df["label"].value_counts(normalize=True)

label
0    0.878835
1    0.121165
Name: proportion, dtype: float64

In [32]:
from dask_ml.model_selection import train_test_split

In [63]:
train_df, dev_df = train_test_split(train_df, test_size=0.5, shuffle=True, random_state=1234)

In [64]:
df = train_df.compute()
df["label"].value_counts(normalize=True)

label
0    0.877904
1    0.122096
Name: proportion, dtype: float64